{% extends 'requester/base.html' %}
{% load crispy_forms_tags %}
{% block pagetitle %} Create {% endblock %}
{% block container %}
<!-- TODO: make this page nice -->
<hr/>
<h3>Human & Machine tasks</h3>
<p>
	<a href="{% url "r-task-create-human" process_id %}"  title='add new Human task to this process'  class='tip btn'>Human Task</i></a>
	- create a task, executed by humans via a web-form on a crowdsourcing platform (CrowdComputer or MTURK),
</p>
<p>
	<a href="{% url "r-task-create-machine" process_id %}"  title='add new Machine task to this process'  class='tip btn'>Machine Task</i></a>
	- create a task, executed by external webservice (such as send email, send sms),
</p>

<hr/>

{% endblock %}
<!--h3>Data manipulating operations</h3>
<p>
	<a href="{% url "r-task-create-splitdata" process_id %}"  title='add an operation for data split'  class='tip btn'>Split Data</i></a>
	- create an operation for splitting data,
</p>
<p>
	<a href="{% url "r-task-create-filterdata" process_id %}"  title='add an operation for data filter'  class='tip btn'>Filter Data</i></a>
	- create an operation for filtering data,
</p>
<hr/-->