{% extends 'executor/base.html' %}
{% load myfilters %}
{% load humanize %}

{% block pagetitle %} Task list {% endblock %}

{% block container %}

    <h1>Task List </h1>
    <div class='row'>
        <table class="table table-hover ">
            <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Reward</th>
            <th>Available</th>
            <th>Requester</th>
            <th></th>
            </thead>
            {{ task_list|length }}
            {% for task in task_list %}
                <tr class="{{ task.status|to_tr_class }}">
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.humantask.reward.quantity }}({{ task.humantask.reward.get_type_display }})</td>
                    {#			<td>{{task.instances_available}}</td>#}
                    <td><a href="{% url "e-list-owner" task.owner.pk %}">{{ task.owner.username }}</a></td>
                    <td>
                        <div class="btn-group">
                            {% if task.parameters.type == "custom" %}
                                 <a href='{% url "e-pick" task.id %}' class='btn tip'
                                   title='go to the execution page'><i class='icon-globe'></i></a>
                            {% else %}
                                <a href='{% url "e-execute" task.humantask.uuid %}' class='btn tip'
                                   title='go to the execution page'><i class='icon-globe'></i></a>
                            {% endif %}
                        </div>
                    </td>

                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}

